



:root {
  --color-primary: rgb(15, 34, 19)
  --color-primary-variant: rgb(11, 123, 67)
  --color-gray-0: #fff;
  --color-gray-100: #eee;
  --color-gray-200: #ccccccf8;
  --color-gray-300: #bbb;
  --color-gray-400: #999;
  --color-gray-500: #777;
  --color-gray-600: #555;
  --color-gray-700: #333;
  --color-gray-800: #111;
  --color-gray-900: #000;
  --color-danger: rgb(246, 67, 67);
  --color-success: rgb(6, 164, 101);

  --radius-1: 0.4rem;
  --radius-2: 0.8rem;
  --radius-3: 1.2rem;
  --radius-4: 1.6rem;
  --radius-5: 2rem;

  --container-w-lg: 80%;
  --container-w-sm: 80%;

  --transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}
 
.dark {
  --color-gray-0: #000;
  --color-gray-100: #111;
  --color-gray-200: #333;
  --color-gray-300: #555;
  --color-gray-400: #777;
  --color-gray-500: #999;
  --color-gray-600: #bbb;
  --color-gray-700: #ccccccf8;
  --color-gray-800: #eee;
  --color-gray-900: #fff;

}

body {
  /* font-family: sans-serif;
  font-size: 0.5rem; */
  /* font-family: "Poppins", sans-serif; */
  background: var(--color-gray-200);
  color: var(--color-gray-100);
  line-height: 1.6;
}

.container {
  width: var(--container-w-lg);
  margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: var(--color-gray-900);
  text-transform: uppercase;
  font-weight: 800;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 0.rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.6rem;
}

a {
  font-size: 0.8rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.btn {
  width: fit-content;
  background: var(--color-gray-100);
  color: var(--color-gray-900);
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 0.4rem;
  transition: var(--transition);
}

.btn.primary {
  background: blue;
  color: var(--color-gray-300);;
}

.btn.danger {
  background: var(--color-danger);
  color: white;
}

.btn.sm {
  padding: 0.5rem 1.2rem;
}

.btn.full {
  width: 100%;
}

.btn:hover{
  background: var(--color-gray-900);
  color: var(--color-gray-0);
}

/* ===========ERROR PAGE ======== */

.errorPage {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--color-gray-0);
}

.errorPage__container {
  width: 30rem;
  text-align: center;
} 

.errorPage__container h1 {
  font-size: 4rem;
}


/* ===========ERROR PAGE ======== */
nav {
  background: var(--color-gray-400);
  display: grid;
  place-items: center;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.nav__container {
  color: white;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__container div {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__logo {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav__toggle-btn {
  background: transparent;
  font-size: 1.8rem;
  display: none;
}

.nav__container a {
  transition: var(--color-primary-variant);
}

.nav__container a:hover {
  color: var(--color-primary-variant);
  align-items: center;
  gap: 4rem;
}

.theme__toggle-btn {
  background: transparent;
  font-size: 1.5rem;
  display: flex;
  transition: var(--transition);
}

.theme__toggle-btn:hover {
  opacity: 0.75;
}

/* ===========SMALL SCREEN ======== */

@media screen and (max-width:600px){
  .container {
    width: var(--color-w-sm);
  }

  nav {
    height: 4rem;
    background: blue;
  }

  .nav__container div {
    gap: 3rem;
  }

  .nav__toggle-btn {
    display: inline-block;
  }

  .nav__container menu {
    position: fixed;
    top: 4rem;
    right: 0;
    flex-direction: column;
    gap: 0;
    width: 12rem;
  }

  .nav__container menu a {
    background: var(--color-gray-0);
    color: var(--color-gray-900);
    width: 100%;
    display: grid;
    place-items: center;
    height: 4rem;
    box-shadow: -2rem 4rem 2rem rgba(0, 0, 0, 0.1);
  }

  .errorPage__container {
    width: 100%;
  }

  .register__container {
    padding: 3rem 1.5rem;
  }

  .result {
    width: 100%;
  }

  .candidate__header {
    width: var(--container-w-sm);
  }

  .modal__content {
    width: var(--container-w-sm);
  }

  .election {
    grid-template-columns: 1fr;
  }

  .election__info {
    padding: 2rem 1rem;
  }

  .election__image {
    height: 100%;
  }

  .voters__table thead th{
  display: flex;
    flex-direction: column;
  }

  .voters__table tbody td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

/* ===========ERROR PAGE ======== */
.register {
  display: grid;
  place-items: center;
  height: 70vh;
  padding: 5rem;
}

.register__container {
  width: 35rem;
  background: var(--color-gray-100);
  padding: 3rem;
  border-radius: var(--radius-5) ;
}

.register form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.register form input {
  padding: 0.7rem;
  background: var(--color-gray-300);
  border-radius: var(--radius-1);
  color: var(--color-gray-900);
}

.register form p > a { 
  color: blue;
  font-weight: 500;
}

.register form p {
  color: var(--color-gray-300);
}

.form__error-message {
  background: red;
  color: var(--color-gray-0);
  padding: 0.6rem 1.5rem;
  border-radius: var(--radius-1) ;
}

.register__container H2 {
  margin-bottom: 2rem;
  color: blu;
}

.modal__contain:hover {
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.9);
}

/* ===========ERROR PAGE ======== */

.results {
  margin: 5rem 0;
  width: 40rem;
  margin: auto;
}

.header {
  background: var(--color-gray-300);
  border:  0.5rem solid var(--color-gray-0);
  border-radius: 1.5rem;
 
}

.results__container {
  display: flex;
  flex-direction: column;
}

.result {
  background: var(--color-gray-0);
  border-radius: var(--radius-4);
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}

.result__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gray-100);
  border:  0.5rem solid var(--color-gray-0);
  border-radius: 1.5rem 1.5rem 0 0;
}

.result__header-image {
  width: 3rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 1.5rem;
}

.result__header h4 {
  padding: 1.5rem;
}

.result_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
}

.result__candidate {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.result__candidate-image {
  height: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: hidden;
}

.result__candidate-info {
  width: 100%;
}

.result__candidate-rating {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.result__candidate-loader {
  display: block;
  width: 100%;
  height: 0.4rem;
  background: var(--color-gray-100);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.result__candidate-loader span {
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-variant));
  height: 100%;
  display: block;
}

/* ===========CANDIDATE ======== */

.candidate {
  display: flex;
}

.candidate__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  margin-inline: auto;
}

.candidate__header p {
  margin-bottom: 3rem;
}

.candidate__header p .btn.btn.primary {
  justify-content: center;
}

.candidate__container {
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(15rem, 1fr));
  gap: 3rem;
}

.candidate {
  background: var(--color-gray-0);
  text-align: center;
  border-radius: var(--radius-3);
  padding-bottom: 1.2rem;
  overflow: hidden;
  box-shadow: 0 00.5rem solid rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.candidate:hover {
  box-shadow: none;
  border-color: var(--color-gray-100);
}

.candidate__image {
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-inline: auto;
  margin-bottom: 1.5rem;
  width: 100%;
}

.candidate small {
  display: block;
  margin: 0.5rem 0 1 rem;
}

/* ===========CANDIDATE ======== */
.modal {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.modal__contain {
  background: var(--color-gray-700);
  width: 35rem;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.modal__header {
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem; 
}

.modal h4 {
  color: white;
}

.modal__header button {
  background: transparent;
  font-size: 1.8rem;
  color: white;
}

.modal__content form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  padding-bottom: 3rem;
}

.modal__content form input {
  margin-top: 0.6rem;
  width: 100%;
  padding: 0.8rem 1rem;
  background: var(--color-gray-100);
  border-radius: var(--radius-1);
  color: var(--color-gray-900);
}

/* ===========CONFIRM VOTE ======== */
.comfirm__vote-content {
  text-align: center;
  border-radius: var(--radius-3);
}

.dark .comfirm__vote-content {
  background: #211f2e;
}

.comfirm__vote-content h5 {
  margin: 2rem 0;
  color: var(--color-primary);
}

.comfirm__vote-image {
  width: 15rem;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border-radius: var(--radius-3);
  overflow: hidden;
  margin-bottom: 2rem;
}

.comfirm__vote-content p {
  margin: 0.4rem 0 2.5rem;
  padding: 0 2rem;
}

.comfirm__vote-cta {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.darl .comfirm__vote-cta .btn {
  color: white;
}
/* ===========CONFIRM VOTE ======== */

.congrats {
  padding: 8rem 0;
  height: 100vh;
  text-align: center;
}

.congrats p {
  margin: 0.5rem 0 1.2rem;
}

/* ===========ELECTION PAGE ======== */

.elections {
  margin: 5rem 0;
}

.elections__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.elections__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.election {
  display: grid;
  grid-template-columns: 17rem auto;
  align-items: center;
  background: var(--color-gray-300);
  border-radius: var(--radius-3);
  overflow: hidden;
  border: 0.5rem solid var(--color-gray-0);
  transition: var(--transition);
}

.election__image {
  max-height: 13rem;
}

.election:hover {
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
}

.election__info {
  padding: 1rem 2rem;
}

.election__info h4 {
  margin-bottom: 0.7rem;
  color: var(--color-primary);
}

.election__cta {
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
}

/* ===========ELECTION DETAILS ======== */

.electionDetails {
  margin: 5rem;
}

.electionDetails__image {
  
  margin: 0.5rem 0 0.4rem;
}

.electionDetails__candidates {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
  border-top: 2px solid var(--color-gray-200);
}

.electionCandidate {
  background: var(--color-gray-300);
  border-radius: var(--radius-3);
  overflow: hidden;
  text-align: center;
  position: relative;
}

.electionCandidate__image {
  height: 15rem;
  overflow: hidden;
}

.electionCandidate h5 {
  margin: 0.7rem 0 0.3rem;
}

.electionCandidate > div:nth-child(2) {
  padding: 1.3rem;
}

.electionCandidate__btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  background: var(--color-danger);
  border-radius: var(--radius-2);
  padding: 0.5rem;
}

.electionCandidate__btn:hover {
  background: var(--color-gray-300);
}

.add__candidate-btn {
  background: var(--color-gray-100);
  border: 2px solid blue;
  border-radius: var(--radius-3);
  font-size: 5rem;
  color: rgb(13, 29, 53);
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  transition: var(--transition);
  min-height: 15rem;
}
 
.voters {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.voters h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.voters__table {
  width: 100%;
  color: #000;
}

.voters__table thead th{
  text-align: left;
  padding: 0.7rem 1.5rem;
}

.voters__table tbody td {
  padding: 0.7rem 1.5rem;
}

.voters__table tbody tr:nth-child(odd) {
  background: var(--color-gray-100);
}

